body {
  font-family: "Playfair Display", serif;
}

@media (max-width: 575.98px) {
  .home-page #welcome .buttons {
    text-align: center;
  }
  .home-page #welcome .buttons .btn:nth-child(1) {
    margin-bottom: 10px !important;
  }
  .home-page #join .map {
    margin-top: 25px;
  }
  .about-page #about h1,
  .about-page #about h2,
  .about-page #values h1,
  .about-page #values h2,
  .about-page #believe h1,
  .about-page #believe h2,
  .about-page #teamm h1,
  .about-page #teamm h2,
  .about-page #contact h1,
  .about-page #contact h2 {
    font-size: 40px !important;
  }
  .watch-page #watch h1,
  .watch-page #watch h2,
  .watch-page #messages h1,
  .watch-page #messages h2,
  .watch-page #podcast h1,
  .watch-page #podcast h2 {
    font-size: 40px !important;
  }
  .watch-page #watch .image,
  .watch-page #messages .image,
  .watch-page #podcast .image {
    margin-top: 20px;
  }
  .watch-page #live a {
    margin-top: 20px;
  }
  .watch-page #podcast .right {
    margin-top: 25px;
  }
  .connect-page #connect h1,
  .connect-page #connect h2,
  .connect-page #groups #visit h1,
  .connect-page #groups #visit h2,
  .connect-page #groups h1,
  .connect-page #groups h2,
  .connect-page #hopes h1,
  .connect-page #hopes h2 {
    font-size: 40px !important;
  }
  .connect-page #groups h6,
  .connect-page #hopes h6 {
    margin-top: 20px;
  }
  .connect-page #groups .content,
  .connect-page #hopes .content {
    height: 400px !important;
  }
}
@media (max-width: 991.98px) {
  nav .logo {
    font-size: 17px !important;
  }
  .home-page #welcome h1 {
    font-size: 50px !important;
    width: 100% !important;
    text-align: center;
  }
  .home-page #welcome h4 {
    width: 100% !important;
    text-align: center;
  }
  .home-page #welcome .buttons {
    text-align: center;
  }
  .home-page #welcome .buttons .btn:nth-child(1) {
    margin-right: 10px !important;
  }
  .home-page #expect .expect {
    margin-bottom: 25px;
  }
  .about-page #missions .mission {
    margin-bottom: 25px;
  }
}
#header {
  background-color: #000;
}

nav img {
  width: 50px;
}
nav .btn {
  background-color: #f59e0b;
  transition: background-color 0.5s;
}
nav .btn:hover {
  background-color: #d97706;
}

.home-page #main #welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/photo-1504052434569-70ad5836ab65.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 150px 0;
}
.home-page #main #welcome h1 {
  font-size: 80px;
}
.home-page #main #welcome .buttons .btn {
  background-color: #f59e0b;
  transition: background-color 0.5s;
}
.home-page #main #welcome .buttons .btn:hover {
  background-color: #d97706;
}
.home-page #main #welcome .buttons .btn i {
  margin: 0 3px;
}
.home-page #main #welcome .buttons .btn:nth-child(2) {
  background-color: transparent !important;
}
.home-page #main #welcome .buttons .btn:nth-child(2):hover {
  background-color: rgb(80, 80, 80) !important;
}
.home-page #main #join {
  padding: 80px 0;
}
.home-page #main #join h2 {
  font-size: 40px;
}
.home-page #main #join h6 {
  color: #f59e0b;
}
.home-page #main #join .times {
  background-color: #383838;
}
.home-page #main #join .times .time {
  background-color: #f59e0b;
}
.home-page #main #join .map {
  background-color: #383838;
}
.home-page #main #join .map a {
  color: #f59e0b;
}
.home-page #main #expect {
  padding: 80px 0;
}
.home-page #main #expect h2 {
  font-size: 40px;
}
.home-page #main #expect h6 {
  color: #f59e0b;
}
.home-page #main #expect .expect {
  height: 250px;
  background-color: #383838;
}
.home-page #main #expect .expect i {
  color: #f59e0b;
}
.home-page #main #expect .expect:hover {
  border: 1px solid #f59e0b;
}
.home-page #main #recent {
  padding: 100px 0;
}
.home-page #main #recent h2 {
  font-size: 40px;
}
.home-page #main #recent .image img {
  cursor: pointer;
  height: 300px;
  transition: transform 0.6s;
}
.home-page #main #recent .image img:hover {
  transform: scale(1.1);
}
.home-page #main #recent .image i {
  transition: color 0.7s;
}
.home-page #main #recent .image:hover i {
  color: #f59e0b !important;
}
.home-page #main #recent h6 {
  color: #f59e0b;
}
.home-page #main #recent .uns {
  background-color: #f59e0b;
}
.home-page #main #recent i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-page #main #recent .recent img {
  width: 150px;
  height: 100px;
  margin-right: 20px;
}
.home-page #main #recent .recent h5 {
  transition: color 0.7s;
}
.home-page #main #recent .recent:hover h5 {
  color: #f59e0b !important;
}
.home-page #main #recent .recent {
  background-color: #383838;
}
.home-page #main #recent .live {
  border: 2px dashed rgb(119, 118, 117);
}
.home-page #main #connect {
  padding: 80px 0;
}
.home-page #main #connect h6,
.home-page #main #connect a {
  color: #f59e0b;
}
.home-page #main #connect .connect {
  background-color: #383838;
}
.home-page #main #connect .connect a {
  transition: color 0.6s;
}
.home-page #main #connect .connect:hover {
  cursor: pointer;
}
.home-page #main #connect .connect:hover a {
  color: #d97706 !important;
}
.home-page #main #stories {
  padding: 100px 0;
}
.home-page #main #stories h6,
.home-page #main #stories i {
  color: #f59e0b;
}
.home-page #main #stories .storie {
  background-color: #383838;
  height: 300px;
}
.home-page #main #stories .storie img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.home-page #main #over {
  background-color: #d97706;
  padding: 100px 0;
}
.home-page #main #over .first {
  color: #f59e0b;
}
.home-page #main #over li {
  background-color: #f59e0b;
}

.about-page #main #about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/photo-1504052434569-70ad5836ab65.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 0;
}
.about-page #main #about h6 {
  color: #f59e0b;
}
.about-page #main #about h1 {
  font-size: 60px;
}
.about-page #main #hope {
  padding: 80px 0;
}
.about-page #main #hope img,
.about-page #main #hope .hope-content {
  height: 400px;
}
.about-page #main #missions {
  padding: 90px 0;
}
.about-page #main #missions .mission {
  background-color: #383838;
  height: 200px;
}
.about-page #main #missions .mission h6 {
  color: #f59e0b;
}
.about-page #main #values {
  padding: 110px 0;
}
.about-page #main #values h6,
.about-page #main #values h3 {
  color: #f59e0b;
}
.about-page #main #values h2 {
  font-size: 50px;
}
.about-page #main #values h3 {
  width: 25px;
}
.about-page #main #values .value {
  height: 250px;
  background-color: #383838;
}
.about-page #main #values .value i {
  color: #f59e0b;
}
.about-page #main #values .value:hover {
  border: 1px solid #f59e0b;
}
.about-page #main #believe h2 {
  font-size: 50px;
}
.about-page #main #believe h6,
.about-page #main #believe span {
  color: #f59e0b;
}
.about-page #main #believe .believe {
  height: 250px;
  background-color: #383838;
}
.about-page #main #believe .believe i {
  color: #f59e0b;
}
.about-page #main #team {
  padding: 100px 0;
}
.about-page #main #team h2 {
  font-size: 50px;
}
.about-page #main #team h6 {
  color: #f59e0b;
}
.about-page #main #team img {
  height: 450px;
}
.about-page #main #contact {
  padding: 90px 0;
}
.about-page #main #contact h6,
.about-page #main #contact i,
.about-page #main #contact a {
  color: #f59e0b;
}
.about-page #main #contact h2 {
  font-size: 50px;
}
.about-page #main #contact i {
  margin-right: 10px;
}
.about-page #main #contact form {
  background-color: #383838;
}
.about-page #main #contact form input,
.about-page #main #contact form select,
.about-page #main #contact form textarea {
  background-color: #383838;
}
.about-page #main #contact form .btn {
  background-color: #f59e0b;
  transition: background-color 0.5s;
}
.about-page #main #contact form .btn:hover {
  background-color: #d97706;
}

.watch-page #main #watch {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/photo-1507692049790-de58290a4334.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
}
.watch-page #main #watch h1 {
  font-size: 60px;
}
.watch-page #main #watch h6 {
  color: #f59e0b;
}
.watch-page #main #watch .btn {
  background-color: #f59e0b;
  transition: background-color 0.5s;
}
.watch-page #main #watch .btn:hover {
  background-color: #d97706;
}
.watch-page #main #watch .image img {
  transition: transform 0.6s;
}
.watch-page #main #watch .image img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.watch-page #main #watch .image i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.watch-page #main #live {
  padding: 30px 0;
}
.watch-page #main #live i {
  margin-right: 10px;
}
.watch-page #main #messages {
  padding: 100px 0;
}
.watch-page #main #messages h2 {
  font-size: 60px;
}
.watch-page #main #messages .card {
  cursor: pointer;
}
.watch-page #main #messages .card h6 {
  color: #f59e0b;
}
.watch-page #main #messages .card img {
  transition: transform 0.6s;
}
.watch-page #main #messages .card img:hover {
  transform: scale(1.1);
}
.watch-page #main #messages .card:hover h5 {
  color: #f59e0b !important;
}
.watch-page #main #messages .card:hover i {
  display: block !important;
}
.watch-page #main #messages .card i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.watch-page #main #podcast {
  padding: 100px 0;
}
.watch-page #main #podcast h2 {
  font-size: 60px;
}
.watch-page #main #podcast h6 {
  color: #f59e0b;
}
.watch-page #main #podcast .right {
  background-color: #f59e0b;
}
.watch-page #main #podcast .right i {
  background-color: #d97706;
}

.connect-page #main #connect {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/photo-1529156069898-49953e39b3ac.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 0;
}
.connect-page #main #connect h6 {
  color: #f59e0b;
}
.connect-page #main #connect h1 {
  font-size: 60px;
}
.connect-page #main #visit {
  padding: 90px 0;
}
.connect-page #main #visit h6,
.connect-page #main #visit i,
.connect-page #main #visit a {
  color: #f59e0b;
}
.connect-page #main #visit h2 {
  font-size: 50px;
}
.connect-page #main #visit i {
  margin-right: 10px;
}
.connect-page #main #visit form {
  background-color: #383838;
}
.connect-page #main #visit form input,
.connect-page #main #visit form select {
  background-color: #383838;
}
.connect-page #main #visit form .btn {
  background-color: #f59e0b;
  transition: background-color 0.5s;
}
.connect-page #main #visit form .btn:hover {
  background-color: #d97706;
}
.connect-page #main #faq {
  padding: 90px 0;
}
.connect-page #main #groups {
  padding: 90px 0;
}
.connect-page #main #groups h6 {
  color: #f59e0b;
}
.connect-page #main #groups h2 {
  font-size: 60px;
}
.connect-page #main #groups .btn {
  background-color: #f59e0b;
  transition: background-color 0.5s;
}
.connect-page #main #groups .btn:hover {
  background-color: #d97706;
}
.connect-page #main #hopes {
  padding-top: 80px;
}
.connect-page #main #hopes h6 {
  color: #f59e0b;
}
.connect-page #main #hopes h2 {
  font-size: 60px;
}
.connect-page #main #hopes .image,
.connect-page #main #hopes .content {
  height: 800px;
}
.connect-page #main #hopes .btn {
  background-color: #f59e0b;
  transition: background-color 0.5s;
}
.connect-page #main #hopes .btn:hover {
  background-color: #d97706;
}

#footer {
  padding: 80px 0;
}

/*# sourceMappingURL=style.css.map */
