body {
  font-family: "Playfair Display", serif;
}

@media (max-width: 575.98px) {
  .home-page #welcome .buttons {
    text-align: center;
  }
  .home-page #welcome .buttons .btn:nth-child(1) {
    margin-bottom: 10px !important;
  }
  .home-page #join .map {
    margin-top: 25px;
  }
}
@media (max-width: 991.98px) {
  nav .logo {
    font-size: 17px !important;
  }
  .home-page #welcome h1 {
    font-size: 50px !important;
    width: 100% !important;
    text-align: center;
  }
  .home-page #welcome h4 {
    width: 100% !important;
    text-align: center;
  }
  .home-page #welcome .buttons {
    text-align: center;
  }
  .home-page #welcome .buttons .btn:nth-child(1) {
    margin-right: 10px !important;
  }
  .home-page #expect .expect {
    margin-bottom: 25px;
  }
}
#header {
  background-color: #000;
}

nav img {
  width: 50px;
}
nav .btn {
  background-color: #f59e0b;
  transition: background-color 0.5s;
}
nav .btn:hover {
  background-color: #d97706;
}

.home-page #main #welcome {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../images/photo-1504052434569-70ad5836ab65.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 150px 0;
}
.home-page #main #welcome h1 {
  font-size: 80px;
}
.home-page #main #welcome .buttons .btn {
  background-color: #f59e0b;
  transition: background-color 0.5s;
}
.home-page #main #welcome .buttons .btn:hover {
  background-color: #d97706;
}
.home-page #main #welcome .buttons .btn i {
  margin: 0 3px;
}
.home-page #main #welcome .buttons .btn:nth-child(2) {
  background-color: transparent !important;
}
.home-page #main #welcome .buttons .btn:nth-child(2):hover {
  background-color: rgb(80, 80, 80) !important;
}
.home-page #main #join {
  padding: 80px 0;
}
.home-page #main #join h2 {
  font-size: 40px;
}
.home-page #main #join h6 {
  color: #f59e0b;
}
.home-page #main #join .times {
  background-color: #383838;
}
.home-page #main #join .times .time {
  background-color: #f59e0b;
}
.home-page #main #join .map {
  background-color: #383838;
}
.home-page #main #join .map a {
  color: #f59e0b;
}
.home-page #main #expect {
  padding: 80px 0;
}
.home-page #main #expect h2 {
  font-size: 40px;
}
.home-page #main #expect h6 {
  color: #f59e0b;
}
.home-page #main #expect .expect {
  height: 250px;
  background-color: #383838;
}
.home-page #main #expect .expect i {
  color: #f59e0b;
}
.home-page #main #expect .expect:hover {
  border: 1px solid #f59e0b;
}
.home-page #main #recent {
  padding: 100px 0;
}
.home-page #main #recent h2 {
  font-size: 40px;
}
.home-page #main #recent .image img {
  cursor: pointer;
  height: 300px;
  transition: transform 0.6s;
}
.home-page #main #recent .image img:hover {
  transform: scale(1.1);
}
.home-page #main #recent .image i {
  transition: color 0.7s;
}
.home-page #main #recent .image:hover i {
  color: #f59e0b !important;
}
.home-page #main #recent h6 {
  color: #f59e0b;
}
.home-page #main #recent .uns {
  background-color: #f59e0b;
}
.home-page #main #recent i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-page #main #recent .recent img {
  width: 150px;
  height: 100px;
  margin-right: 20px;
}
.home-page #main #recent .recent h5 {
  transition: color 0.7s;
}
.home-page #main #recent .recent:hover h5 {
  color: #f59e0b !important;
}
.home-page #main #recent .recent {
  background-color: #383838;
}
.home-page #main #recent .live {
  border: 2px dashed rgb(119, 118, 117);
}
.home-page #main #connect {
  padding: 80px 0;
}
.home-page #main #connect h6,
.home-page #main #connect a {
  color: #f59e0b;
}
.home-page #main #connect .connect {
  background-color: #383838;
}
.home-page #main #connect .connect a {
  transition: color 0.6s;
}
.home-page #main #connect .connect:hover {
  cursor: pointer;
}
.home-page #main #connect .connect:hover a {
  color: #d97706 !important;
}
.home-page #main #stories {
  padding: 100px 0;
}
.home-page #main #stories h6,
.home-page #main #stories i {
  color: #f59e0b;
}
.home-page #main #stories .storie {
  background-color: #383838;
  height: 300px;
}
.home-page #main #stories .storie img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.home-page #main #over {
  background-color: #d97706;
  padding: 100px 0;
}
.home-page #main #over .first {
  color: #f59e0b;
}
.home-page #main #over li {
  background-color: #f59e0b;
}

#footer {
  padding: 80px 0;
}

/*# sourceMappingURL=style.css.map */
