@use "../utils/variables";
.home-page {
  // Main
  #main {
    // Welcome
    #welcome {
      background-image: (
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
        url("../images/photo-1504052434569-70ad5836ab65.jpg")
      );
      background-repeat: no-repeat;
      background-position: center center;
      padding: 150px 0;
      h1 {
        font-size: 80px;
      }
      .buttons {
      }
      .buttons .btn {
        background-color: variables.$primary-color;
        transition: background-color 0.5s;
        &:hover {
          background-color: variables.$second-color;
        }
        i {
          margin: 0 3px;
        }
        &:nth-child(2) {
          background-color: transparent !important;
          &:hover {
            background-color: rgb(80, 80, 80) !important;
          }
        }
      }
    }
    // Join
    #join {
      padding: 80px 0;
      h2 {
        font-size: 40px;
      }
      h6 {
        color: variables.$primary-color;
      }
      .times {
        background-color: variables.$third-color;
        .time {
          background-color: variables.$primary-color;
        }
      }
      .map {
        background-color: variables.$third-color;
        a {
          color: variables.$primary-color;
        }
      }
    }
    // Expect
    #expect {
      padding: 80px 0;
      h2 {
        font-size: 40px;
      }
      h6 {
        color: variables.$primary-color;
      }
      .expect {
        height: 250px;
        background-color: variables.$third-color;
        i {
          color: variables.$primary-color;
        }
        &:hover {
          border: 1px solid variables.$primary-color;
        }
      }
    }
    // Recent
    #recent {
      padding: 100px 0;
      h2 {
        font-size: 40px;
      }
      .image {
        img {
          cursor: pointer;
          height: 300px;
          transition: transform 0.6s;
          &:hover {
            transform: scale(1.1);
          }
        }
        i {
          transition: color 0.7s;
        }
        &:hover {
          i {
            color: variables.$primary-color !important;
          }
        }
      }

      h6 {
        color: variables.$primary-color;
      }
      .uns {
        background-color: variables.$primary-color;
      }
      i {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .recent {
        img {
          width: 150px;
          height: 100px;
          margin-right: 20px;
        }
        h5 {
          transition: color 0.7s;
        }
        &:hover h5 {
          color: variables.$primary-color !important;
        }
        background-color: variables.$third-color;
      }
      .live {
        border: 2px dashed rgb(119, 118, 117);
      }
    }
    // Connect
    #connect {
      padding: 80px 0;
      h6,
      a {
        color: variables.$primary-color;
      }
      .connect {
        background-color: variables.$third-color;
        a {
          transition: color 0.6s;
        }
        &:hover {
          cursor: pointer;
          a {
            color: variables.$second-color !important;
          }
        }
      }
    }
    // Stories
    #stories {
      padding: 100px 0;
      h6,
      i {
        color: variables.$primary-color;
      }

      .storie {
        background-color: variables.$third-color;
        height: 300px;
        img {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }
      }
    }
    // Over
    #over {
      background-color: variables.$second-color;
      padding: 100px 0;
      .first {
        color: variables.$primary-color;
      }
      li {
        background-color: variables.$primary-color;
      }
    }
  }
}
